<template>
  <div>
    <app-header></app-header>
    <Nuxt />
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppFooter from "@/components/AppFooter";
export default {
 component() {
   AppHeader,
   AppFooter
 }
}
</script>

<style scoped>

</style>
