<template>
<h1 style="color: red; text-align: center; display: flex;justify-content: center">kayn Error a chrif</h1>
</template>

<script>
export default {
  name: "error"
}
</script>

<style scoped>

</style>
