<template>
<div style="height: 64vh;overflow-y: scroll">
  <h1>Blog Page</h1>
  <b-col cols="4">
    <b-card v-for="post in posts" :key="post.id">
      <b-card-text>{{post.title}}</b-card-text>
      <b-card-text>{{post.body}}</b-card-text>
    </b-card>
  </b-col>

</div>
</template>

<script>
export default {
  name: "blogs",
  asyncData({$axios}) {
    return $axios.$get('https://jsonplaceholder.typicode.com/posts').then( res => {
      return{
        posts:res
      }
    })
  },
  data(){
    return{
      posts:[]
    }
  }
}
</script>

<style scoped>

</style>
