<template>
  <div>
    <h4 class="pt-4 pb-3 d-flex justify-content-center align-items-center">List of Travels</h4>
    <!-- Table of List Travels -->
    <b-button style="float: right" v-b-modal.modal-prevent-closing>+ New Travel</b-button>
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Add New Travel"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <!-- date -->
        <label for="datepicker">Choose a date</label>
        <b-form-datepicker
          id="datepicker"
          v-model="date"
          :state="dateState"
          class="mb-2"
        >
        </b-form-datepicker>
        <!-- Lieu de départ et d'arrivé -->
        <b-row>
          <b-col>
            <b-form-select
              v-model="selectedDeparture"
              :options="optionsDeparture"
              class="mb-3"
              value-field="item"
              text-field="Departure"
            ></b-form-select>
          </b-col>
          <b-col>
            <b-form-select
              v-model="selectedArrival"
              :options="optionsArrival"
              class="mb-3"
              value-field="item"
              text-field="Arrival"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-form-group
          label="Number of Persons"
          label-for="nbrPersons-input"
          invalid-feedback="Number of Persons required"
          :state="nbrPersonsState"
        >
          <b-form-input
            id="nbrPersons-input"
            v-model="nbrPersons"
            :state="nbrPersonsState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table
      :fields="fields"
      :items="items"
      striped
      hover
    >
      <template #cell(date)="row">
        <NuxtLink :to="'/travel/' + row.item.id">
          {{ row.value }}
        </NuxtLink>
      </template>
      <template #cell(departure)="row">
        <NuxtLink :to="'/travel/' + row.item.id">
          {{ row.value }}
        </NuxtLink>
      </template>
      <template #cell(arrival)="row">
        <NuxtLink :to="'/travel/' + row.item.id">
          {{ row.value }}
        </NuxtLink>
      </template>
      <template #cell(nbrPerson)="row">
        <NuxtLink :to="'/travel/' + row.item.id">
          {{ row.value }}
        </NuxtLink>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      fields: [
        {
          key: 'date',
          sortable: true
        },
        {
          key: 'nbrPerson',
          sortable: true
        },
        {
          key: 'departure',
          sortable: true
        },
        {
          key: 'arrival',
          sortable: true
        }
      ],
      rowItems: {
        items: []
      },
      date: '',
      dateState: null,
      submittedDate: [],
      nbrPersons: '',
      nbrPersonsState: null,
      submittedNbrPersons: [],
      selectedDeparture: 'Agadir',
      optionsDeparture: [
        { item: 'A', Departure: 'Option A' },
        { item: 'B', Departure: 'Option B' },
        { item: 'D', Departure: 'Option C' },
        { item: { d: 1 }, Departure: 'Option D' }
      ],
      selectedArrival: 'Fès',
      optionsArrival: [
        { item: 'A', Arrival: 'Option A' },
        { item: 'B', Arrival: 'Option B' },
        { item: 'D', Arrival: 'Option C' },
        { item: { d: 1 }, Arrival: 'Option D' }
      ]
    }
  },
  computed: {
    items () {
      try {
        return this.rowItems.items
      } catch {
        return []
      }
    }
  },
  methods: {
    async loadData () {
      this.rowItems
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.dateState = valid
      return valid
    },
    resetModal() {
      this.date = ''
      this.dateState = null
      this.nbrPersons=''
      this.nbrPersonsState=null
    },
    handleOk(bvModalEvent) {
      // Prevent modal from closing
      bvModalEvent.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the data to submitted
      this.submittedDate.push(this.date),
      this.submittedNbrPersons.push(this.nbrPersons),
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing')
      })
    }
  }
}
</script>
<style scoped>
.btn-secondary {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 0%);
}
</style>
